@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes translateLeft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes translateRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes translateBottom {
	from {
		transform: translateY(150%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes color {
	from {
		color: red;
	}
	to {
		color: #fff;
	}
}
